<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="nav-link(link, name)">
    <a th:href="${link}"
       th:classappend="${#httpServletRequest.getRequestURI().equals(link)} ? 'nav-link active' : 'nav-link'"
       th:text="${name}"></a>
</div>
<div th:fragment="menu">
    <hr/>
    <ul class="nav nav-pills">
        <div th:each="item : ${@pageService.getMenuData()}">
            <li class="nav-item" th:if="${item.items == null}">
                <div th:replace="fragments/topbar::nav-link(${item.link}, ${item.name})"></div>
            </li>
            <li class="nav-item dropdown" th:unless="${item.items == null}">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="${item.link}" th:text="${item.name}"
                   role="button" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu">
                    <div th:each="subItem : ${item.items}">
                        <a class="dropdown-item" th:href="${subItem.link}" th:text="${subItem.name}"></a>
                    </div>
                </div>
            </li>
        </div>
    </ul>
    <hr/>
</div>
</body>
</html>